<br />
<h1 class="standardfont">Streaming Services</h1>
<h3 class="cen standardfont">Membership Plans</h3>
<br />
<div class="container standardfont">
  <div class="row">
    <div class="col-md-1"></div>
    <!--  Netflix  -->
    <div class="col-md-2">
      <div class="card border-danger mb-3 outline">
        <div class="card-body">
          <h4 class="card-title">Netflix</h4>
          <p class="text-danger">_______________</p>
          <p class="card-text">Basic Plan: $8.99/month</p>
          <p class="card-text">Standard Plan: $13.99/month</p>
          <p class="card-text">Premium Plan: $17.99/month</p>
          <p class="card-text">Shows Favorited: {{totalFavorites.netflix}}</p>
          <div class="btn-center bottom">
            <button class="btn btn-danger wide" onclick="window.open('https://www.netflix.com');">
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--  Hulu  -->
    <div class="col-md-2">
      <div class="card border-success mb-3 outline">
        <div class="card-body">
          <h4 class="card-title">Hulu</h4>
          <p class="text-success">_______________</p>
          <p class="card-text">Basic Plan: $6.99/month</p>
          <p class="card-text">Hulu + No Ads: $12.99/month</p>
          <p class="card-text">Hulu Basic + Live TV: $64.99/month</p>
          <p class="card-text">Shows Favorited: {{totalFavorites.hulu}}</p>
          <div class="btn-center bottom">
            <button class="btn btn-success wide" onclick="window.open('https://www.hulu.com');">
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--  Disney+  -->
    <div class="col-md-2">
      <div class="card border-info mb-3 outline">
        <div class="card-body">
          <h4 class="card-title">Disney+</h4>
          <p class="text-info">_______________</p>
          <p class="card-text">Basic Plan: $7.99/month</p>
          <p class="card-text">Hulu + Disney+: $13.99/month</p>
          <p class="card-text">Hulu + No Ads + Disney+: $19.99/month</p>
          <p class="card-text">Shows Favorited: {{totalFavorites.disneyPlus}}</p>
          <div class="btn-center bottom">
            <button class="btn btn-info wide" onclick="window.open('https://www.disneyplus.com');">
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--  HBO Max  -->
    <div class="col-md-2">
      <div class="card border-primary mb-3 outline">
        <div class="card-body">
          <h4 class="card-title">HBO Max</h4>
          <p class="text-primary">_______________</p>
          <p class="card-text">Basic Plan: $9.99/month</p>
          <p class="card-text">HBO Max + No Ads: $14.99/month</p>
          <p class="card-text">Shows Favorited: {{totalFavorites.hboMax}}</p>
          <div class="btn-center bottom">
            <button class="btn btn-primary wide" onclick="window.open('https://www.hbo.com/ways-to-get');">
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--  Amazon Prime Video  -->
    <div class="col-md-2">
      <div class="card border-light mb-3 outline" style="display: inline-block;">
        <div class="card-body" style="height: 100%;">
          <h4 class="card-title">Amazon Prime Video</h4>
          <p class="text-light">_______________</p>
          <p class="card-text">Basic Plan: $8.99/month</p>
          <p class="card-text">Prime Video + Amazon Prime: $12.99/month</p>
          <p class="card-text">Shows Favorited: {{totalFavorites.amazonVideo}}</p>
          <div class="btn-center bottom">
            <button class="btn btn-light wide"
              onclick="window.open('https://www.amazon.com/gp/video/getstarted?ref_=nav_em__aiv_gs_0_2_2_9');">
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>