<br />
<h1 class="standardfont">About</h1>
<br />
<br />
<br />
<div class="cover card border-light standardfont">
    <p class ="cen">
        Welcome to Stream Snipers!
    </p>
    <p class ="cen">
        The goal of this project was to provide users with easy viewing access to which streaming services contain which shows.
    </p>
    <p class ="cen">
        This project was created to be used in the revature .NET full stack developer training program for project 2.
    </p>
    <p class ="cen">
        The Github repository can be found <a class="text-info" href="https://github.com/211004-Reston-NET/StreamSnipers">HERE</a>.
    </p>
    <p class ="cen">
        Created by 
        <a class="text-primary" href="https://github.com/Asaku1">Ayogh Agborbesong</a>,
        <a class="text-danger" href="https://github.com/chasehenry862">Chase Henry</a>,
        <a class="text-warning" href="https://github.com/ColinMudie/">Colin Mudie</a>, and
        <a class="text-success" href="https://github.com/JakeWill5">Jacob Williams</a>
        
        
    </p>
</div>
<br />